@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 12:24:58
    Author     : ajall
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:04:19
    Author     : ajall
*/
/*A d├®truire*/
.signal {
  color: red; }

/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille ├®cran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** ├®cran <$medium, $medium< ├®cran < $large, $large < ├®cran
** Ins├®rer ici les modifications des ├®l├®ments de navigation ├®ventuellement 
** affect├®s par la taille d'├®cran
*/
/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/
/* Logo */
.custom-logo {
  width: 19.8412698%;
  min-width: 250px; }

/* Incrustations vid├®o iframe */
iframe {
  width: 100%;
  max-height: 100%;
  margin: 0; }

/* Images r├®seaux sociaux */
.reseau-social {
  width: 100%;
  max-width: 100px; }

/*Boutons*/
button {
  background: #0DB6FF;
  background-image: -webkit-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: -moz-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: -ms-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: -o-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: linear-gradient(to bottom, #0DB6FF, #0A89BF);
  -webkit-border-radius: 36;
  -moz-border-radius: 36;
  border-radius: 36px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.entry-content blockquote::before {
  font-size: 12rem;
  top: -1rem;
  left: -6rem; }

button:hover {
  background: #0A89BF;
  background-image: -webkit-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: -moz-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: -ms-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: -o-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: linear-gradient(to bottom, #0A89BF, #0CDFE8);
  text-decoration: none; }

.etiquette-visite {
  text-transform: uppercase; }
  .etiquette-visite a, .etiquette-visite a:hover, .etiquette-visite a:focus {
    text-decoration: none; }

.section-2, .section-2-container {
  background-color: #ddf8e3; }

.contact-visite {
  color: black;
  text-align: center; }

.site-footer {
  background-color: #032E40;
  color: #fff; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:08:14
    Author     : ajall
*/
/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille ├®cran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** ├®cran <$medium, $medium< ├®cran < $large, $large < ├®cran
** Ins├®rer ici les modifications des ├®l├®ments de navigation ├®ventuellement 
** affect├®s par la taille d'├®cran
*/
/* Gestion du toggle des menus */
@media (max-width: 767px) {
  ul[aria-expanded="false"] {
    display: none; } }
@media (min-width: 900px) {
  .menu-toggle {
    display: none; } }
@media (min-width: 768px) and (max-width: 899px) {
  .menu-toggle {
    display: none; } }
/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/
/* Navigation principale */
.main-navigation {
  text-align: center; }
  .main-navigation ul {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 56;
    line-height: 1.5; }
  .main-navigation a {
    text-decoration: none; }
  .main-navigation li {
    display: inline-block;
    padding-right: .5em; }
    .main-navigation li ::before {
      padding-right: .3em;
      content: url("../img/menu-off.png"); }
  .main-navigation li.current-page-item ::before, .main-navigation li.current-menu-item ::before, .main-navigation li.current-category-ancestor ::before, .main-navigation li.current-post-ancestor ::before {
    padding-right: .3em;
    content: url("../img/menu-on.png"); }

/* Navigation visites */
.category-navigation {
  text-align: center; }
  .category-navigation ul {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 56;
    line-height: 1.5;
    list-style-type: none; }
  .category-navigation a {
    text-decoration: none; }
  .category-navigation li {
    display: inline-block;
    padding: .5em;
    margin: 0 .5em;
    background-color: #0CDFE8;
    border-radius: 10px; }
  .category-navigation li.current-page-item, .category-navigation li.current-menu-item {
    background-color: limegreen; }

/* Navigation footer */
.footer-navigation {
  text-align: center;
  margin-top: 50px; }
  .footer-navigation ul {
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 50;
    line-height: 1.5; }
    .footer-navigation ul li {
      display: inline-block; }
      .footer-navigation ul li :after {
        color: white;
        content: "|";
        padding-left: 2.25rem;
        padding-right: 2.25rem; }
      .footer-navigation ul li a {
        color: inherit;
        text-decoration: none; }
      .footer-navigation ul li a:hover {
        color: #02FF38;
        text-decoration: none; }
    .footer-navigation ul li.current-menu-item, .footer-navigation ul li.current-page-item {
      color: #02FF38; }
  .footer-navigation li:last-child :after {
    content: none; }

.nav-previous {
  background: url("../img/fleche-gauche.png") no-repeat; }

.nav-next {
  background: url("../img/fleche-droite.png") no-repeat; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:06:08
    Author     : ajall
*/
/** @section LAYOUT ---
* En-t├¬te / header
* Contenu principal / #main
* contenu secondaire / aside
* Pied de page / footer

*/
/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille ├®cran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** ├®cran <$medium, $medium< ├®cran < $large, $large < ├®cran
** Ins├®rer ici les modifications des ├®l├®ments de navigation ├®ventuellement 
** affect├®s par la taille d'├®cran
*/
@media (min-width: 900px) {
  [class*="flex-col-"] {
    padding: 0.5rem; } }
@media (min-width: 768px) and (max-width: 899px) {
  [class*="flex-col-"] {
    padding: 1rem; } }
@media (max-width: 767px) {
  [class*="flex-col-"] {
    padding: 1.5rem; } }
/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/
.flex-col-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; }

.flex-col-2 {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0; }

.flex-col-3 {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 0; }

.flex-col-4 {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 0; }

.flex-col-5 {
  flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 0; }

.flex-col-6 {
  flex-grow: 6;
  flex-shrink: 6;
  flex-basis: 0; }

.flex-col-7 {
  flex-grow: 7;
  flex-shrink: 7;
  flex-basis: 0; }

.flex-col-8 {
  flex-grow: 8;
  flex-shrink: 8;
  flex-basis: 0; }

.flex-col-9 {
  flex-grow: 9;
  flex-shrink: 9;
  flex-basis: 0; }

.site-header {
  width: auto;
  max-width: 900px;
  margin: auto;
  text-align: center; }

.section-1, .section-2 {
  width: auto;
  max-width: 900px;
  margin: auto; }

/*.section-2 div:first-child {
    padding-left: 3em;
}*/
.entry-content blockquote {
  padding-left: 0; }

.site-footer section {
  width: auto;
  max-width: 900px;
  justify-content: center;
  margin: auto;
  padding: 2.0rem 0; }

/*.site-footer section div:first-child {
    padding-left: 3em;
}*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:06:54
    Author     : ajall
*/
/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille ├®cran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** ├®cran <$medium, $medium< ├®cran < $large, $large < ├®cran
** Ins├®rer ici les modifications des ├®l├®ments de navigation ├®ventuellement 
** affect├®s par la taille d'├®cran
*/
/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/
/** @section Typographie ---*/
footer {
  color: white;
  font-weight: normal; }

p::first-letter {
  font-size: 130%;
  font-weight: 700; }

h1 {
  font-weight: 400;
  color: #032E40;
  text-align: center;
  line-height: 1em; }

h1::after {
  display: block;
  content: url(../img/acolade.svg);
  width: 208px;
  margin: auto; }

h2::before {
  display: block;
  content: url(../img/trait-vert.svg);
  width: 84px; }

h2 {
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #032E40; }

h3 {
  font-weight: 400;
  color: #032E40; }

h4 {
  font-weight: 500;
  color: #032E40; }

h5 {
  color: #032E40; }

h6 {
  color: #032E40; }

figcaption {
  font-size: 1.6rem;
  color: #032E40; }

/*# sourceMappingURL=style.css.map */
