@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 12:24:58
    Author     : ajall
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:04:19
    Author     : ajall
*/
/*A d├®truire*/
.signal {
  color: red; }

/* Logo */
.custom-logo {
  width: 19.8412698%;
  min-width: 250px; }

/* Incrustations vid├®o iframe */
iframe {
  width: 100%;
  max-height: 100%;
  margin: 0; }

/*Boutons*/
button {
  background: #0DB6FF;
  background-image: -webkit-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: -moz-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: -ms-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: -o-linear-gradient(top, #0DB6FF, #0A89BF);
  background-image: linear-gradient(to bottom, #0DB6FF, #0A89BF);
  -webkit-border-radius: 36;
  -moz-border-radius: 36;
  border-radius: 36px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

button:hover {
  background: #0A89BF;
  background-image: -webkit-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: -moz-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: -ms-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: -o-linear-gradient(top, #0A89BF, #0CDFE8);
  background-image: linear-gradient(to bottom, #0A89BF, #0CDFE8);
  text-decoration: none; }

.etiquette-visite {
  text-transform: uppercase; }
  .etiquette-visite a, .etiquette-visite a:hover, .etiquette-visite a:focus {
    text-decoration: none; }

.section-2 {
  background-color: #ddf8e3; }

.footer-facebook {
  width: 19,1204%; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:08:14
    Author     : ajall
*/
/* Gestion du toggle des menus */
@media (max-width: 767px) {
  ul[aria-expanded="false"] {
    display: none; } }
@media (min-width: 768px) {
  .menu-toggle {
    display: none; } }
/* Navigation principale */
.main-navigation {
  text-align: center; }
  .main-navigation ul {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 56;
    line-height: 1.5; }
  .main-navigation a {
    text-decoration: none; }
  .main-navigation li {
    display: inline-block;
    padding-right: .5em; }
    .main-navigation li ::before {
      padding-right: .3em;
      content: url("../img/menu-off.png"); }
  .main-navigation li.current-page-item ::before, .main-navigation li.current-menu-item ::before, .main-navigation li.current-category-ancestor ::before {
    padding-right: .3em;
    content: url("../img/menu-on.png"); }

/* Navigation visites */
.category-navigation {
  text-align: center; }
  .category-navigation ul {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 56;
    line-height: 1.5;
    list-style-type: none; }
  .category-navigation a {
    text-decoration: none; }
  .category-navigation li {
    display: inline-block;
    padding: .5em;
    margin: 0 .5em;
    background-color: #0CDFE8;
    border-radius: 10px; }
  .category-navigation li.current-page-item, .category-navigation li.current-menu-item {
    background-color: limegreen; }

/* Navigation footer */
.footer-navigation {
  text-align: center; }
  .footer-navigation ul {
    list-style-type: none;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 56;
    line-height: 1.5; }
  .footer-navigation a {
    text-decoration: none; }
    .footer-navigation a :hover {
      letter-spacing: 50;
      color: #02FF38;
      text-decoration: none; }
  .footer-navigation li {
    display: inline-block; }
    .footer-navigation li ::after {
      content: "|";
      padding-left: 2.25rem; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:06:08
    Author     : ajall
*/
/** @section LAYOUT ---
* Conteneur global / #main
* En-t├¬te / header
* Contenu principal / #main
* contenu secondaire / aside
* Pied de page / footer

*/
.site {
  width: 83.015873%;
  margin: auto;
  max-width: 1260px; }

.site-header {
  text-align: center; }

.home section {
  justify-content: center; }

.article-accueil {
  width: 38.6233269%;
  max-width: 511px; }

.aside-accueil, .article-conference {
  width: 32.53968253968%;
  max-width: 404px; }

.site-footer {
  background-color: #032E40;
  color: #fff; }

.site-footer {
  justify-content: center;
  margin: auto; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:06:54
    Author     : ajall
*/
/** @section Typographie ---*/
p::first-letter {
  font-size: 130%;
  font-weight: 700; }

h1 {
  font-weight: 400;
  color: #032E40;
  text-align: center;
  line-height: 1em; }

h1::after {
  display: block;
  content: url(../img/acolade.svg);
  width: 208px;
  margin: auto; }

h2::before {
  display: block;
  content: url(../img/trait-vert.svg);
  width: 84px; }

h2 {
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #032E40; }

h3 {
  font-weight: 400;
  color: #032E40; }

h4 {
  font-weight: 500;
  color: #032E40; }

h5 {
  color: #032E40; }

h6 {
  color: #032E40; }

figcaption {
  font-size: 1.6rem;
  color: #032E40; }

/*# sourceMappingURL=style.css.map */
