/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:06:08
    Author     : ajall
*/

/** @section LAYOUT ---
* En-tête / header
* Contenu principal / #main
* contenu secondaire / aside
* Pied de page / footer

*/

/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille écran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** écran <$medium, $medium< écran < $large, $large < écran
** Insérer ici les modifications des éléments de navigation éventuellement 
** affectés par la taille d'écran
*/
@media (min-width: $large) {
    [class*="flex-col-"] {
        padding: 0.5rem;
    }
}

@media (min-width: $medium) and (max-width: ($large - 1)) {
    [class*="flex-col-"] {
    padding: 1rem;
}
}

@media (max-width: ($medium - 1)) {
    [class*="flex-col-"] {
    padding: 1.5rem;
}
}

/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/


.flex-col-1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.flex-col-2 {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
}
.flex-col-3 {
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 0;
}
.flex-col-4 {
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: 0;
}
.flex-col-5 {
    flex-grow: 5;
    flex-shrink: 5;
    flex-basis: 0;
}
.flex-col-6 {
    flex-grow: 6;
    flex-shrink: 6;
    flex-basis: 0;
}
.flex-col-7 {
    flex-grow: 7;
    flex-shrink: 7;
    flex-basis: 0;
}
.flex-col-8 {
    flex-grow: 8;
    flex-shrink: 8;
    flex-basis: 0;
}
.flex-col-9 {
    flex-grow: 9;
    flex-shrink: 9;
    flex-basis: 0;
}



.site-header {
    width: auto;
    max-width: $large;
    margin: auto;
    text-align: center;
}

.section-1, .section-2 {
    width: auto;
    max-width: $large;
    margin: auto;
}

/*.section-2 div:first-child {
    padding-left: 3em;
}*/

.entry-content blockquote {
        padding-left: 0;
    }
    
  .site-footer{
    background-color:$blue-500; 
    color: $white;
}

.site-footer section {
    width: auto;
    max-width: $large;
    justify-content: center;
    margin: auto;
    padding: 2.0rem 0;
}

/*.site-footer section div:first-child {
    padding-left: 3em;
}*/