/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:08:14
    Author     : ajall
*/




/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille écran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** écran <$medium, $medium< écran < $large, $large < écran
** Insérer ici les modifications des éléments de navigation éventuellement 
** affectés par la taille d'écran
*/
/* Gestion du toggle des menus */
@include respond-to("medium") {
    ul[aria-expanded="false"] {
        display: none;
    }
}

@media (min-width: $large) {
    .menu-toggle {
          display: none;
      }
}

@media (min-width: $medium) and (max-width: ($large - 1)) {
    .menu-toggle {
        display: none;
    }
}

@media (max-width: ($medium - 1)) {
    
}

/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/

/* Navigation principale */
    .main-navigation {
    
    text-align: center;
    
    ul {
    text-transform: uppercase;
    font-size:1.8rem;
    font-weight: $weight-medium;
    letter-spacing: 56;
    line-height: $line-height-base;
    }
    
    a {
        text-decoration:none;
    }
    
    li {
        display: inline-block;
        padding-right: .5em;
        
        ::before {
            padding-right: .3em;
            content: url('../img/menu-off.png');
        }
        
    }
    
    li.current-page-item, li.current-menu-item, li.current-category-ancestor, li.current-post-ancestor {
            ::before {
                padding-right: .3em; 
                content: url('../img/menu-on.png');
            }
    }
}

/* Navigation visites */
 .category-navigation {
    
    text-align: center;
    
    ul {
    font-size:1.8rem;
    font-weight: $weight-medium;
    letter-spacing: 56;
    line-height: $line-height-base;
    list-style-type: none;
    }
    
    a {
        text-decoration:none;
    }
    
    li {
        display: inline-block;
        padding: .5em;
        margin: 0 .5em;
        background-color: #0CDFE8;
        border-radius: 10px;
    }
    
    li.current-page-item, li.current-menu-item {
        background-color:limegreen;
    }
}

/* Navigation footer */
.footer-navigation {
    
    text-align: center;
    margin-top: 50px;
    
    ul {
        list-style-type: none;
        font-size:1.6rem;
        font-weight: $weight-regular;
        letter-spacing: 50;
        line-height: $line-height-base;

        li {
            display: inline-block;
            :after {
                color: white;
                content:"|";
                padding-left: $spacer-medium;
                padding-right: $spacer-medium;
            }
            
            a {
                color: inherit;
                text-decoration: none;
            }
            a:hover{            
                color:#02FF38;
                text-decoration:none;
            }
        }
        
        li.current-menu-item, li.current-page-item {
            color:#02FF38;
        }
    }
    
    li:last-child {
      
        :after {
            content: none;
        } 
    } 
 }
 
 .nav-previous {
     background: url('../img/fleche-gauche.png') no-repeat;
 }
 
 .nav-next {
     background: url('../img/fleche-droite.png') no-repeat;
 }


