/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2018, 15:06:54
    Author     : ajall
*/

/* ------------------------------------------------- Gestion du responsive /
** ------------------------------------------------- taille écran ----------
** Deux breakpoints & 3 formats
** $medium & $large
** écran <$medium, $medium< écran < $large, $large < écran
** Insérer ici les modifications des éléments de navigation éventuellement 
** affectés par la taille d'écran
*/
@media (min-width: $large) {
    
}

@media (min-width: $medium) and (max-width: ($large - 1)) {
    
}

@media (max-width: ($medium - 1)) {
  
}

/* ------------------------------------------------- Fin partie responsive -
** -------------------------------------------------------------------------
*/

/** @section Typographie ---*/

footer {
    color: white;
    font-weight: normal;
    
}

/*p::first-letter {
    font-size: 130%;
    font-weight:$weight-bold;
}*/



h1{
    font-weight: $weight-regular ;
    color: $color-brand;
    text-align: center;
    line-height: 1em;
}




h1::after{
    display: block;
    content:url(../img/acolade.svg);
    width:208px;
    margin: auto;

}

h2::before{
    display: block;
    content:url(../img/trait-vert.svg);
    width:84px;

}


h2{
    font-weight:$weight-medium ;
    line-height:$line-height-base;//24
    text-transform: uppercase;
    color: $color-brand;
}

h3{font-weight: $weight-regular ;

   color: $color-brand;
}

h4{
    font-weight: $weight-medium ;
    color: $color-brand;
}

h5{
    color: $color-brand;
}

h6{
    color: $color-brand;
}

figcaption{
    font-size:1.6rem;
    color: $color-brand;
}//légende qui accompagne une photo

